# Ignorar arquivos desnecessários no build do Docker
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Environment
.env
